<div class="principal">
<h2>Loja Pechincheiros - Sistema Gestor de Pedidos</h2>

<a href="/novopedido"><button class="button cor1" style="vertical-align:middle"><span><i class="fa fa-plus-square"></i> Novo Pedido      </span></button></a>
<a href="/listapedidos"><button class="button cor2" style="vertical-align:middle"><span><i class="fa fa-th-list"></i> Lista de Pedidos </span></button></a>
<a href="/localizarpedido"><button class="button cor3" style="vertical-align:middle"><span><i class="fa fa-search"></i> Localizar Pedido </span></button></a>

</div>
