<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>Loja Pechincheiros</title>
    <style>
    h2,label,p{
        font-family: Arial;
    }
    .cor1{
        background-color: #BF40BF;
    }
    .cor2{
        background-color: #DA70D6;
    }
    .cor3{
        background-color: #C3B1E1;
    }
    .button {
        border-radius: 12px;
        width: 50vw;
        display: inline-block;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }

    .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

    .button:hover span {
    padding-right: 25px;
    }

    .button:hover span:after {
    opacity: 1;
    right: 0;
    }
    .principal{
        text-align: center;
        height: 100vw;
        width: 100vw;
    }
    .button_small{
        border-radius: 12px;
        display: inline-block;
        border: none;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        height: 3vw;
    }
</style>
</head>
<body>

    {{{body}}}

</body>
</html>
